/*
---
title: Search Results Tickets' page style
name: tickets-page-style
category: layout
---

## Style of the Search Packages page

*/
.bullet-step{
	@include border-radius(15px);
	padding:15px;
	background: #fc0;
	width:25px;
	height:15px
}
