/*doc
---
title: Base CSS
name: base_css
category: base_css
---

## Basic

*/

// All includes
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

/* --------------------------------------------------------------------------
   @ Bootstrap Configs
   -------------------------------------------------------------------------- */

// Core variables and mixins
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Bootstrap Components
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";

// Components w/ JavaScript
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
// @import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";


/* --------------------------------------------------------------------------
   @ Layout SBV
   -------------------------------------------------------------------------- */

// Base
@import "base/variables";
@import "base/reset";
@import "base/typography";
@import "base/mixins";

// Components
@import "components/breadcrumbs";
@import "components/buttons";
@import "components/form";
@import "components/icons";
@import "components/modal";
@import "components/rating";
@import "components/datepicker";
@import "components/slider";
@import "components/autocomplete";

// Helpers
@import "helpers/classes";

// Layout
@import "layout/core/header";
@import "layout/core/footer";
@import "layout/pages/base-home";
@import "layout/pages/hotels";
@import "layout/pages/tickets";
@import "layout/pages/packages";
@import "layout/pages/cruises";
@import "layout/pages/contact";
@import "layout/pages/search-results-tickets";
@import "layout/pages/search-results-hotels";
@import "layout/pages/search-results-packages";
@import "layout/pages/checkout-hotel";
